:root {
    --standard_width: 1200px;
  }

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* border: 1px solid lawngreen; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 10px solid blue; */
}


a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px;
    
}

ul {
    list-style: none;
    line-height: 0.8;
}



section {
    min-height: 200px;
    flex: 1;
}


header, footer, main {
    min-height: 40px;
    
}

header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--standard_width);
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 70px;
    
}




footer {
    text-align: center;
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 7px;
}


button {
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.hero {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--standard_width);
    padding-bottom: 50px;
    justify-content: space-between;
    
}

.hero_main_text {
    color: #f9faf8;
    width: 400px;
    font-size: 48px;
    font-weight:bold;
    margin-bottom: 10px;
}

.hero_secondary_text {
    color: #e5e7eb96;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
}

.header_logo img {
    max-width: 150px;

}

.hero_picture img {
    width: 600px;
    height: 300px;
    
}

@media (min-width: 700px) {
    .hero {
        display: flex;
        flex-direction: row;
    }
}



.random_information_header{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.dark_background_color {
    background-color: #1f2937;
}

.grey_background_color {
    background-color: #E5E7EB;
}

.quote {
    max-width: 610px; /* Justera efter behov */
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

}

.poseidon {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.call_to_action {
    width: 100%;
    max-width: 810px; /* Justera efter behov */
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.blue_container {
    background-color: #3882F6;
    border-radius: 7px;
    width: 830px;
    display: flex;
}

.call_to_action_signup_button {
    border: 2px solid white;
    margin-left: 70px;
    margin: 20px;
}

.call_to_action_main_text {
    color: #F9FAF8;
    width:fit-content;
    font-size: 20px;
    font-weight:bold;
    margin: 10px;
}

.call_to_action_secondary_text {
    color: #f9faf8c1;
    margin: 10px;
    width: 600px;
} 

.image_container {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.img_150x150 {
    text-align: center;
    
}

.img_150x150 img {
    width: 150px;
    border-radius: 7px;
    border: 3px solid #3882F6;
}

.img_150x150 p {
    margin-top: 10px;
    font-size: 14px;
    width: 150px;
}